/* style.css */

.list {
    height: 30px;
    padding: 15px 0;
}

#one {
    background-color:bisque
}

#two {
    background-color: cadetblue;
}

#three {
    background-color: rgb(134, 186, 238);
}